<div class="row-fluid" ng-init="init()">

    <div class="span5 offset2 well">
        <div class="row-fluid">

            <div class="animate-switch-container" ng-switch on="action">
                <div ng-switch-when="read">
                    <ng-include src="'chat/messages.tpl.html'"/>
                </div>
                <div ng-switch-when="send">
                    <ng-include src="'chat/send-message.tpl.html'"/>
                </div>
            </div>
        </div>
    </div>

    <div class="span3 well" id="chatters-div">
        <table class="table table-striped table-hover">
            <caption>Chatters:</caption>
            <tr ng-repeat="chatter in chatters">
                <td ng-dblclick="selectRecipient(chatter.name)"><i class="icon-user"></i> {{chatter.name}}</td>
            </tr>
        </table>
    </div>
</div>