<div class="row-fluid">
    <span class="span4">When</span>
    <span class="span3">From</span>
    <span>Message</span>
</div>
<div ng-repeat="message in messages">
    <div class="row-fluid">
        <span class="span4">{{message.timestamp | utc:'DD-MM-YYYY HH:mm:ss'}}</span>
        <span class="span3" ng-click="reply(message)">{{message.sender}}</span>
        <span>{{message.content}}</span>
    </div>
</div>