<div class="row-fluid">
    <p>Send a message to {{ recipient }}</p>
</div>
<div class="row-fluid">
    <textarea class="span12" ng-model="messageToSend"></textarea>
</div>
<div class="row-fluid">
    <button class="btn btn-success" ng-click="sendMessage(messageToSend)">Send</button>
    <button class="btn btn-warning" ng-click="cancelMessage()">Cancel</button>
</div>
