.animate-switch-container {
    position:relative;
    height:500px;
    overflow:hidden;
}

.animate-switch-container > div {
    padding:10px;
}

.animate-switch-container > .ng-enter,
.animate-switch-container > .ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.animate-switch-container > .ng-enter {
    top:-500px;
}
.animate-switch-container > .ng-enter.ng-enter-active {
    top:0;
}

.animate-switch-container > .ng-leave {
    top:0;
}
.animate-switch-container > .ng-leave.ng-leave-active {
    top:500px;
}