<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 offset2">
                    <a class="brand" href="#" app-title></a>
                </div>
                <div class="span6">
                    <button class="btn btn-info pull-right"
                            href="#"
                            ng-click="signOut()"
                            ng-show="user">
                        <i class="icon-user"></i>Sign out {{user.name }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>