<div class="row-fluid">
    <div class="span2 offset5 text-center">
        <div class="row-fluid">
            <label for="username">How do you want to be called during chattime?</label>
        </div>
        <div class="row-fluid">
            <input id="username"
                   ng-model="newUsername"
                   maxlength="20"
                   ui-keypress="{13:'registerUser()'}">
        </div>
        <div class="row-fluid">
            <input type="submit" class="btn btn-primary" ng-click="registerUser()" value="Register"/>
        </div>
    </div>

    <div class="span2">
        <div class="well well-large alert-error fade in" ng-show="errorMessage">
            <h4 class="alert-heading">Oops...</h4>

            <p>{{ errorMessage }}</p>
        </div>
    </div>

</div>