<!DOCTYPE html>
<html ng-app="lumichat">
<head>
    <title app-title></title>

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/jquery.gritter.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/angular-animate.css"/>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

</head>
<body ng-init="isRegistered()">
  <div class="container-fluid">
      <div id="header" ng-include="'header.tpl.html'"></div>

      <div id="content" ng-view></div>

      <div id="footer" ng-include="'footer.tpl.html'"></div>
  </div>
  </body>
</html>



    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->


    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-responsive.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/<%= grunt.config.get('pkg.name') %>.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="css/gritter.css" />-->

    <!--<script type="text/javascript" src="lib/jquery.js"></script>-->
    <!--<script type="text/javascript" src="lib/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="lib/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="lib/moment+langs.js"></script>-->
    <!--<script type="text/javascript" src="lib/lodash.js"></script>-->
    <!--<script type="text/javascript" src="lib/ui-utils.js"></script>-->
    <!--<script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.js"></script>-->
    <!--<script type="text/javascript" src="js/constants.js"></script>-->
    <!--<script type="text/javascript" src="lib/gritter.js"></script>-->
    <!--<script type="text/javascript" src="http://www.google.com/jsapi"></script>-->
